.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  width: 100px;
  height: 70px;
  border-radius: 4px;
}

.videoSelected {
  background: #ff0000;
  padding: 0.25rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 0.25rem;
}

.videoSelected h3 {
  color: black;
}

.videoSelected svg {
  color: #ffffff;
}
